
html,
body,
#app {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pages {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: $z-index-1;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-size: $pagesFontsize;
}

.page,.tabbar-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background-color: $color-body;

    /*----------------定位----------------*/
    > .header,
    > .second-header,
    > .footer,
    > .second-footer,
    > .container {
        flex: 0 0 auto;
        position: relative;
    }

    > .header {
        order: 1;
        z-index: $z-index-3;
        min-height: $headerHeight;
    }
    > .second-header {
        order: 2;
        z-index: $z-index-3;
        min-height: $secondHeaderHeight;
    }
    > .container {
        order: 3;
        flex: 1 1 auto;
        z-index: $z-index-1;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 101vh;
    }
    > .second-footer {
        order: 4;
        z-index: $z-index-2;
        min-height: $secondFooterHeight;
    }
    > .footer {
        order: 5;
        z-index: $z-index-2;
        min-height: $footerHeight;
    }
    /*----------------风格----------------*/
    > .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        background-color: $color-main;
        color: #fff;
        text-align: center;
        line-height: $headerHeight;

        > .ctrl-left {
            order: 0;
        }
        > .label {
            flex: 1 1 auto;
            font-size: .4rem;
            order: 1;
            @include text-line(1);
        }
        > .ctrl-right {
            order: 2;
        }
        > .ctrl-left,
        > .ctrl-right {
            white-space: nowrap;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            > .btn {
                min-width: $headerHeight;
                height: auto;
                padding: 0;
            }
        }
    }
    > .second-header {
        border-bottom: 1px solid $color-border;
    }
    > .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        line-height: calc(#{$footerHeight} - 1px);
        border-top: 1px solid $color-border;
        background-color: $gray3;
        color: $color-text-minor;

        > .btn {
            flex-grow: 1;
            width: 1%;
        }
    }
    > .second-footer {
        border-top: 1px solid $color-border;
    }
    > .container {
    }
}

.page-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: $color-main;
    color: #fff;
    text-align: center;
    line-height: $headerHeight;
    z-index: $z-index-3;
    min-height: $headerHeight;
    > .ctrl-left {
        order: 0;
    }
    > .label {
        flex: 1 1 auto;
        font-size: .4rem;
        order: 1;
        @include text-line(1);
    }
    > .ctrl-right {
        order: 2;
    }
    > .ctrl-left,
    > .ctrl-right {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        > .btn {
            min-width: $headerHeight;
            height: auto;
            padding: 0;
        }
    }
}
.page-footer {
    position: relative;
    z-index: $z-index-2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #fff;
    line-height: $footerHeight;
    min-height: $footerHeight;
    > .btn {
        flex: 1 1 1%;
    }
}


.popup-wrap {
    font-size: $popupFontsize;
    color: #333;
    > .popup,
    > .page {
        position: absolute;
        z-index: $z-index-7;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    > .popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(35, 24, 21, 0.5);

        > .inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            background-color: #fff;

            > .header,
            > .footer {
                min-height: 4rem;
                line-height: 4rem;
                flex: 0 0 auto;
            }

            > .header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                //padding: 0 $padding-small;
                border-bottom: 1px solid $color-border;
                > .label {
                    flex: 1 1 1%;
                    text-align: center;
                    //color: $color-main;
                }
                > .button {
                    padding-top: 0;
                    padding-bottom: 0;
                    flex: 0 0 100px;
                    border: none;
                }
            }

            > .footer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
            }
            > .body {
                flex: 1 1 1%;
                overflow-x: hidden;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
                padding: $padding;
            }
        }
    }
}
