// base
$font-family: 思源黑体, PingFang, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !default;
//$html-font-size: 100px !default;
$body-font-size: 10px !default;
$line-height: 1.5 !default;

// layout
$pagesFontsize: 1.4rem !default;
$popupFontsize: 1.4rem !default;
$headerHeight: 5rem !default;
$secondHeaderHeight: 4rem !default;
$footerHeight: 5rem !default;
$tabHeight: 5rem !default;
$secondFooterHeight: 4rem !default;

// btn
$btn-radius: 8px !default;
$btn-size: 14px !default;
$btn-padding: 10px 15px !default;

